@import 'vars'

.wrapper
    max-width: 760px
    padding: 0 5%
    margin: 40px auto

    h1 
        margin-bottom: 0

    h2 
        margin: 40px 0 0


    ul.questions
        list-style-type: none
        padding: 0

        li
            padding: 20px 0
            border-bottom: 1px solid lighten($grey-tint, 30%)

            &:first-child
                padding-top: 10px
        p
            margin: 0
            padding: 0

            &:first-child
                font-weight: 600
                font-size: $font-size-small

            &:nth-child(even)
                font-weight: 100
            
        
            &:nth-child(odd)
                margin-bottom: 0

    ul.categories
        list-style-type: none
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-top: 40px
        transition: color 2s, background-color 2s
        -webkit-transition: color 2s, background-color 2s; 
        transition-timing-function: ease-in-out

        li
            display: inline-block
            padding: 8px 15px
            margin: 5px 5px
            background-color: lighten($grey-tint, 30%)

            &:hover
                cursor: pointer
                color: $off-white
                background-color: lighten($success, 20%)
            
            &.active
                color: $off-white
                background-color: $success
