@import "vars"
@import "components/form"

.nav-header
  position: absolute
  top: 0

.content-wrapper
  max-width: 760px
  width: 80%
  margin: 0 auto

  .image-container
    display: flex
    margin: 5% auto 0
    justify-content: center

    img
      width: 64px
      height: 64px
