@import "vars"


.notification 
    padding: 10px 25px
    color: white
    line-height: 2
    position: fixed
    text-align: center
    top: 15px
    left: 15px
    z-index: 100

    i 
        margin-left: 8px

        &:hover
            cursor: pointer
    


.notify-success
    background: $success

.notify-error
    background: $danger
    