

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  /*height: 100vh;*/
  background-color: #FAFAFA;
}

a {
  text-decoration: underline;
}


a:hover {
  color: #222;
  cursor: pointer;
}

html {
  color: #333;
}

.hidden{
  visibility: hidden;
}

.app-container {
  height: 100vh;

}
