html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /*height: 100vh;*/
  background-color: #FAFAFA;
}

a {
  text-decoration: underline;
}


a:hover {
  color: #222;
  cursor: pointer;
}

html {
  color: #333;
}

.hidden{
  visibility: hidden;
}



.app-container {
  height: 100vh;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    /* bottom, image */
    url("https://static.pexels.com/photos/210647/pexels-photo-210647.jpeg") no-repeat center center fixed;
  background-size: cover;
}
